.navbar-brand {
  background-color: #9583CD;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 30px;
  border-radius: .25rem;
}

.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: x-large;
}

.navbar-light .navbar-nav .nav-link {
  color: #9583CD !important;
  font-weight: bold;
}

img {
  opacity: .8;
}

.dropdown-item {
  color: #9583CD !important;
  font-weight: bold;
  font-size: 13px;
}

.container-fluid {
    width: 100%;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

body
{ background-color: #B3B0C2;
}

.row {
  margin-right: -5px;
}

.container {
  margin: 30px;
}

#main {
  background-color: #f8f9fa;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .25rem;
}

#visual {
  background-color: #f8f9fa;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .25rem;
}

p {
  color: #6c757d;
}

h2 {
  color: #f8f9fa;
  background-color: #9583CD;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: .25rem;
}

.col-md-5 {
  text-align: center;
}

.navbar-light .navbar-brand:hover{
   color: #ECE9FD;
 }
 .navbar-light .navbar-brand:visited{
   color: #f8f9fa;
 }
 .navbar-light .navbar-brand:link{
   color: #f8f9fa;
 }

 @media (max-width: 767px) {
   .bg-light {
     background-color: #9583CD!important;
   }
   .navbar-light .navbar-toggler {
     border-color: #FFFFFF;
   }
   .navbar-light .navbar-nav .nav-link {
     color: #f8f9fa !important;
     font-weight: bold;
   }
 }

@media (min-width: 768px) {
 .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
 }
}
